{% extends "base.html" %}
{% block body %}
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="logout()">
	  Logout
	</button>
<hr/>
<div class="card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">New Card</h2>
  </div>
  <div align="center" class="mdl-card__supporting-text">
    <form>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea dir="rtl" class="mdl-textfield__input" type="text" rows="3" id="newnote" style="text-align: right; margin-top: 0px; margin-bottom: 0px; height: 137px; line-height: 25px; margin-top: -11px;"></textarea>
      </div>
    </form>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" onclick="add_note()">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
<br/>
<table id="notes-div">
	<tr>
		{% for note in notes %}
		<td>
			<div class="card-square mdl-card mdl-shadow--4dp">
		  	  {% if "RZM" in note %}
			  <div dir="rtl" align="right" class="mdl-card__supporting-text note flag">
			  {% else %}
			  <div dir="rtl" align="right" class="mdl-card__supporting-text note">
			  {% endif %}
			  	<br/>
			    {{ note }}
			  </div>
			</div>
		</td>
		{% endfor %}
	</tr>
</table>
{% endblock %}