{% extends "base.html" %}
{% block body %}
<div align="center" dir="rtl" class="inner-container">
	{% if failed %}
	<h5 style="color: red;">Bad Credentials</h5>
	{% elif exists %}
	<h5 style="color: red;">User with that name already exists</h5>
	{% endif %}
	<form action="/auth" dir="ltr">
	  <div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" id="username" name="username">
	    <label class="mdl-textfield__label" for="username">username</label>
	  </div>
	  <br/>
	  <div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="password" id="password" name="password">
	    <label class="mdl-textfield__label" for="password">password</label>
	  </div>
	  <br/>
	</form>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="connect()">
	  Login
	</button>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="register()">
	  Register
	</button>
</div>
{% endblock %}