<!DOCTYPE html>
<html>
<head>
	<title>Pingwins</title>

	<script src="/static/js/jquery-3.2.1.js"></script>
	<script src="/static/js/material.min.js"></script>
	<script src="/static/js/app.js"></script>

	<link rel="stylesheet" href="/static/css/material.brown-light_green.min.css" />
	<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/google.fonts.css">
	<link rel="stylesheet" href="/static/css/app.css" />
	{% block header %}
	{% endblock %}
</head>
<body style="overflow-y: hidden;">
	<div id="error-toast" class="mdl-js-snackbar mdl-snackbar" dir="rtl">
	  <div class="mdl-snackbar__text"></div>
	  <button style="display: none" class="mdl-snackbar__action" type="button"></button>
	</div>
	<div id="notification-toast" class="mdl-js-snackbar mdl-snackbar" dir="rtl">
	  <div class="mdl-snackbar__text"></div>
	  <button style="display: none" class="mdl-snackbar__action" type="button"></button>
	</div>
	<style>
	.pingwin-layout-transparent {
	  background: url('../assets/demos/transparent.jpg') center / cover;
	}
	.pingwin-layout-transparent .mdl-layout__header,
	.pingwin-layout-transparent .mdl-layout__drawer-button {
	  /* This background is dark, so we set text to white. Use 87% black instead if
	     your background is light. */
	  color: white;
	}
	</style>

	<div class="pingwin-layout-transparent mdl-layout mdl-js-layout">
	  <header class="mdl-layout__header mdl-layout__header--transparent">
	    <div class="mdl-layout__header-row">
	      <!-- Title -->
	      <a class="mdl-navigation__link" href="/"><span class="mdl-layout-title">Pingwin</span></a>
	  </header>
	  <div class="mdl-layout__drawer">
	    <span class="mdl-layout-title">Pingwin</span>
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="/">Home</a>
	      <a class="mdl-navigation__link" href="/about">About</a>
	      <a class="mdl-navigation__link" href="/contact">Contact</a>
	    </nav>
	  </div>
	  <main class="mdl-layout__content">
	  	{% block body %}
	  	{% endblock %}
	  </main>
	</div>
</body>
</html>