{% extends "base.html" %}
{% block body %}
{% if thankyou %}
<script type="text/javascript">
  window.onload = function() {
    showNotification("Thank you, your message was sent")
  }
</script>
{% endif %}
<div align="center" class="inner-container">
  <img src="/static/imgs/logo.png"/>
  <hr/>
  <form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9\.]*(\.[0-9\.]+)?" id="ip">
      <label class="mdl-textfield__label" for="ip">IP Address...</label>
      <span class="mdl-textfield__error">Input is not a number!</span>
    </div>
  </form>
  <button onclick="run()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
    Check!
  </button>
</div>
<div class="inner-container output-div" align="left" style="display: none;">
  <h5 class="output-title" align="center">Results:</h5>
  <span id="output">
  </span>
</div>
{% endblock %}