<!DOCTYPE html>
<html>
<head>
	<title>OutLaws</title>

	<script src="/static/js/jquery-3.2.1.js"></script>
	<script src="/static/js/material.min.js"></script>
	<script src="/static/js/app.js"></script>

	<link rel="stylesheet" href="/static/css/material.brown-light_green.min.css" />
	<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/google.fonts.css">
	<link rel="stylesheet" href="/static/css/app.css" />
	{% block header %}
	{% endblock %}
</head>
<body style="overflow-y: hidden;">
	<div align="center" class="container">
		{% block body %}
		{% endblock %}
	</div>
</body>
</html>