<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% for id in requests %}
	<!-- Inside iframes to prevent redirections that will stop the rendering of the other requests -->
	<iframe src="/get_request?token=IamTh3RealzZz4dmin!!!@&id={{ id }}"></iframe>
	{% endfor %}
</body>
</html>
