{% extends "base.html" %}
{% block body %}
<div align="center" class="inner-container">
	<form action="#">
	  <div class="mdl-textfield mdl-js-textfield">
	    <textarea class="mdl-textfield__input" type="text" rows= "11" id="request" ></textarea>
	    <label class="mdl-textfield__label" for="request">Speak the words that shall let you in...</label>
	  </div>
	</form>

	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="join()">
	  Send Request
	</button>
</div>
{% if has_request %}
<hr/>
<div align="center" dir="rtl" class="request-status">
	{% if is_finished %}
	<h5 class="declined">Your request was declined</h5>
	{% else %}
	<h5 class="pending">Your request is pending for admin approval</h5>
	{% endif %}
</div>
{% endif %}
{% endblock %}	