.container {
	margin: auto;
	height: 1000px;
	width: 50%;
}

body {
	background-repeat: no-repeat;
	background-size: unset;
	background-image: url(/static/imgs/background.jpg);
}

.inner-container {
	padding: 30px;
	margin: auto;
	margin-top: 30px;
	background-color: white;
	width: 30%;
	box-shadow: 3px 3px 30px 4px black;
	border-style: solid 2px;
	border-radius: 10px;
}

.post {
	padding: 20px;
	margin-top: 30px;
	background-color: white;
	width: 60%;
	box-shadow: 3px 3px 10px 2px black;
	border-style: solid 2px;
	border-radius: 10px;
}

.subject {
	color: green;
	font-weight: bold;
}

p {
	white-space: pre-line;
}