.container {
	margin: auto;
	height: 1000px;
}

.inner-container {
	padding-top: 30px;
	width: 400px;
	height: 300px;
	margin: auto;
	margin-top: 30px;
	background-image: url(/static/imgs/paper.png);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 3px 3px 30px 4px black;
	border-radius: 10px;
}

body {
	background-repeat: no-repeat;
	background-size: unset;
	background-image: url(/static/imgs/background.jpg);
}

#header {
	margin-top: 20px;
}

p {
	white-space: pre-line;
}

.card-square.mdl-card {
  background-image: url(/static/imgs/note.png);
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.mdl-card__title {
	font-weight: bold;
	background-color: #70492e;
	padding: 20px;
}

.mdl-card__supporting-text.note {
	overflow: hidden;
	line-height: 25px;
	white-space: pre-line;
}

.mdl-card__supporting-text.flag {
	direction: ltr;
	font-weight: 800;
	overflow: hidden;
	line-height: 25px;
	white-space: pre-line;
}

#notes-div {
	width: 80%;
	display: block;
	overflow-x: auto;
}