#error-toast {
  background-color: #f9c3cf;
  border-radius: 10px 10px 0 0;
}

#error-toast > .mdl-snackbar__text {
  text-align: center;
  color: darkred;
  font-weight: bold;
  margin: auto;
}

#notification-toast {
  background-color: rgb(170, 212, 255);
  border-radius: 10px 10px 0 0;
}

#notification-toast > .mdl-snackbar__text {
  text-align: center;
  color: #484888;
  font-weight: bold;
  margin: auto;
}


.container {
	margin: auto;
	height: 1000px;
	width: 50%;
}

body {
	background-image: url(/static/imgs/background.jpg);
}

.inner-container {
	width: 400px;
	height: 300px;
	margin: auto;
	margin-top: 30px;
	background-image: url(/static/imgs/safe.png);
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 3px 3px 30px 4px black;
	border-radius: 10px;
}

form {
	padding-top: 30px;
	padding-bottom: 30px;
	display: inline-grid;
}

.mdl-textfield__input {
    background-color: rgba(255, 255, 255, 0.8784313725490196);
}

.mdl-js-textfield {
	width: 200px;
}

.text-div {
	margin: auto;
	width: 100%;
	margin-top: 30px;
	background-color: white;
	box-shadow: 3px 3px 30px 4px black;
	border-radius: 10px;
	padding: 10px;
}

h3, h4 {
	font-weight: bold;
	font-family: tahoma;
	font-style: italic;
}

h4 {
	color: grey;
	text-shadow: 2px 2px 2px black;
}