body {
	background-repeat: round;
	background-image: url(/static/imgs/background.jpg);
}

.container {
	margin: auto;
    padding: 20px;
    padding-bottom: 100px;
}

.team-logo {
	width: 300px;
}

.team-lineup {
	width: 70%;
}

.team-name {
	font-weight: bold;
    text-shadow: 3px 3px 3px black;
    font-family: tahoma;
}

.team-div {
	padding: 30px;
	width: 60%;
	margin: auto;
	margin-top: 30px;
	background-image: url(/static/imgs/field.jpg);
	background-size: cover;
	box-shadow: 3px 3px 30px 4px black;
	border-radius: 10px;
}

.mdl-navigation__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.portfolio-header {
  position: relative;
  background-image: url(/static/imgs/header-bg.jpg);
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  color: #1d531d;
  text-align: center;
  font-weight: bold;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}


.is-compact .portfolio-logo {
  height: 50px;
  margin-top: 7px;
}

.portfolio-logo {
  background-size: cover;
  margin: auto auto 10px;
  height: 50%;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
  color: black;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.error {
    color: darkred;
    background-color: white;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px 1px darkred;
    font-weight: bold;
}

.welcome-div {
	text-align: left;
	background-color: white;
	width: 40%;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 2px 2px 5px 1px darkblue;
}