.inner-container {
	padding: 30px;
	margin: auto;
	width: 80%;
	margin-top: 30px;
	background-color: rgba(255, 250, 97, 0.6);
	box-shadow: 3px 3px 30px 4px black;
	border-radius: 10px;
}

body {
	background-repeat: no-repeat;
	background-size: unset;
	background-image: url(/static/imgs/background.jpg);
}

#output {
	white-space: pre-line;
	text-align: left;
}

.inner-container.output-div {
	width: 30%;
    background-color: rgba(255, 255, 255, 0.93);
}

.output-title {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

#error-toast {
  background-color: #f9c3cf;
  border-radius: 10px 10px 0 0;
}

#error-toast > .mdl-snackbar__text {
  text-align: center;
  color: darkred;
  font-weight: bold;
  margin: auto;
}

#notification-toast {
  background-color: rgb(170, 212, 255);
  border-radius: 10px 10px 0 0;
}

#notification-toast > .mdl-snackbar__text {
  text-align: center;
  color: #484888;
  font-weight: bold;
  margin: auto;
}
