.container {
	margin: auto;
	height: 1000px;
}

.inner-container {
	padding-top: 30px;
	width: 400px;
	height: 300px;
	margin: auto;
	margin-top: 30px;
	background-color: white;
	box-shadow: 3px 3px 30px 4px black;
	border-radius: 10px;
}

body {
	background-repeat: round;
	background-image: url(/static/imgs/background.jpg);
}

.request-status {
	width: 400px;
	height: 100px;
	margin: auto;
	margin-top: 30px;
	padding-top: 30px;
	background-color: white;
	box-shadow: 3px 3px 30px 4px black;
	border-radius: 10px;

}

.declined {
	color: red;
	font-weight: bold;
}

.pending {
	color: orange;
	font-weight: bold;
}

.approved {
	color: green;
	font-weight: bold;
}