<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> Classified Documents: </h1>
	<ul>
	{% for document in documents %}
	<!-- Inside iframes to prevent redirections that will stop the rendering of the other requests -->
	<li><a href='/get_document?id={{ document.id }}'>{{ document.document_name }}</a></li>
	{% endfor %}
	</ul>
</body>
</html>
