{% extends "base.html" %}
{% block header %}
<script src="/static/js/md5.min.js"></script>
{% if failed %}
<script type="text/javascript">
	window.onload = function() {
		showError('Bad Credentials')
	}
</script>
{% endif %}
{% endblock %}
{% block body %}
<div class="text-div">
	<h4>The Most Secured &amp; Responsive "Login-Safe" Ever Created!</h4>
</div>
<div align="center" class="inner-container">
	<form>
	  <div class="mdl-textfield mdl-js-textfield" style="display: block">
	    <input align="center" class="mdl-textfield__input" type="text" id="username" name="username">
	    <label class="mdl-textfield__label" for="username">Username</label>
	  </div>
	  <br/>
	  <div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="password" id="password" name="password">
	    <label class="mdl-textfield__label" for="password">Password</label>
	  </div>
	</form>
	<br/>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="connect()">
	  Login
	</button>
</div>
{% endblock %}