#error-toast {
  background-color: #f9c3cf;
  border-radius: 10px 10px 0 0;
}

#error-toast > .mdl-snackbar__text {
  text-align: center;
  color: darkred;
  font-weight: bold;
  margin: auto;
}

#notification-toast {
  background-color: rgb(170, 212, 255);
  border-radius: 10px 10px 0 0;
}

#notification-toast > .mdl-snackbar__text {
  text-align: center;
  color: #484888;
  font-weight: bold;
  margin: auto;
}

.portfolio-header {
  position: relative;
  background-image: url(/static/imgs/header-bg.jpg);
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  color: #1d531d;
  text-align: center;
  font-weight: bold;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 100px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.is-compact .portfolio-logo {
  height: 50px;
  margin-top: 7px;
}

.portfolio-logo {
  background-size: cover;
  margin: auto auto 10px;
  height: 100px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
  color: black;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-square.mdl-card {
  margin: 10px;
  width: 320px;
  height: 320px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/static/imgs/card.jpg') bottom  20% left 20% no-repeat #46B6AC;
}

.solved {
  position: relative;
}

.solved:before{
  display: block;
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  background-color: rgba(0,255,0,0.5);
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

.cookie-container {
	margin: auto;
	border-radius: 0px 0px 30px 30px;
	box-shadow: 2px 2px 4px grey;
	background-color: #def8ec;
	padding: 20px;
	width: 40%;
}

.inner-container {
	margin: 100px;
  margin-top: 0px;
	border-radius: 0px 0px 30px 30px;
	box-shadow: 0px 0px 5px 3px grey;
	background-image: url(/static/imgs/background.jpg);
	padding: 20px;
}

.level-cell {
	border-right: solid;
	border-width: 2px;
	padding: 20px;
	border-color: gray;
	color: white;
}

.fa-check-circle {
  color: #90fd90;
  display: none;
}

.solved .mdl-card__supporting-text {
  background-color: lightgreen;
}

.solved .mdl-card__actions.mdl-card--border {
  background-color: lightgreen;
}

.solved .fa-check-circle {
  display: block;
}

.doc-info, .challenge-info {
  width: 50%;
  background-color: #ecf4ec;
  margin: auto;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 4px 4px 10px 0px black;
  height: 100%;
}

.trackboard {
  width: 50%;
  background-color: #ecf4ec;
  margin: auto;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 4px 4px 10px 0px black;
  height: 100%;
  padding: 100px;
}

#tags {
  background: #d0f4d0;
  padding: 5px;
}

#description {
  white-space: pre-line;
  padding: 10px;
  padding-right: 40px;
  background: #ffedc4;
}

#solution {
  width: 50%;
  background-color: #ecf4ec;
  margin: auto;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0px 4px 10px 0px black;
}

.mdl-chip.mdl-chip--contact.red {
  padding: 10px;
  background-color: #fa9b7e;
}

.red .mdl-chip__contact {
  background-color: #9d4646!important;
}

.doc-link, .challenge-link {
  color: black;
  font-weight: bold;
}

.stage {
    color: #7c7c7c;
    font-weight: bold;
    text-shadow: 2px 3px 3px #9b9b9b;
}

hr {
  border-top-color: gray;
}

.solution-padding, .solution-padding {
  font-weight: bold;
  font-size: 20px;
  color: #799279;
}

.challenge-description {
  width: 90%;
}

.challenge-description *, .challenge-name *, .doc-name * {
  text-align: right;
}

.mdl-navigation__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#tags_dropdown {
  clip: auto;
  background-color: white;
  border: solid 1px;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px black;
}

.mdl-menu__container {
  position: sticky;
}

#tags-div {
  padding: 10px;
}

#add-doc-div, #add-challenge-div {
  width: 20%;
  padding: 20px;
  background-color: #627862;
  margin: auto;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0px 4px 10px 0px black;
}

.challenge-level {
  width: 40px;
}

.challenge-level * {
  text-align: right;
}

#tags .mdl-chip.mdl-chip--contact {
  cursor: pointer;
}

#description a {
  color: #008bb8;
  font-weight: bold;
}

.doc-category {
  font-weight: bold;
  background-color: #ffc2aa;
  border-radius: 20px;
  margin: auto;
}

.doc-item {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#docs-div .mdl-list__item {
  max-width: 500px;
}

.mdl-list__item-secondary-action .material-icons {
  color: darkblue;
}

.code-div {
  white-space: pre;
  color: gray;
  background-color: lightgray;
  text-align: left;
  margin-top: 5px;
  padding: 10px;
  direction: ltr;
  letter-spacing: 0.3px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px grey;
}
