{% extends "base.html" %}
{% block body %}
<div align="center" class="inner-container">
  <img src="/static/imgs/logo.png"/>
</div>
<div class="inner-container output-div" align="left">
  <h5 class="output-title" align="center">About:</h5>
  <span id="output">PingWin is a tool that allows you to verify whether a particular IP address or host name is accessible. Ping is commonly used for diagnostics of network related problems. It simply answers the question whether one computer connected to a network can reach another computer in the network.

  The ping command works over the Internet Control Message Protocol (ICMP). It sends a message called echo request to the target host and waits for echo response packet to come back. The time between the request is sent and the response is received is measured. The ping command usually sends more than one echo request and counts statistics from all its attempts. These statistics are displayed on the output.

  When a computer does not respond to ping it might be a sign of its network hardware failure, incorrect router or firewall configuration, as well as a result of intentional configuration of the target host's firewall not to response to echo requests. In case of machines connected to the Internet such a policy that forbids to reply to ping requests is not rare. On the other hand, in the local network environments the ping responsiveness is usually required.
</span>
</div>
{% endblock %}