{% extends "base.html" %}
{% block body %}
<div align="center" class="inner-container">
  <img src="/static/imgs/logo.png"/>
</div>
<div class="inner-container output-div" align="center">
  <span id="output">Feel free to send us anything on your mind to make PingWin better!
  	We are looking forward to hearing from you :)
	</span>
  	<form action="#" align="center">
  	  <div class="mdl-textfield mdl-js-textfield">
  	    <textarea class="mdl-textfield__input" type="text" rows= "7" id="text" ></textarea>
  	    <label class="mdl-textfield__label" for="text">Whats on your mind?</label>
  	  </div>
  	</form>
  	<button onclick="send_message()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  	  Send!
  	</button>
</div>
{% endblock %}