{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/static/css/w3.css">

<script type="text/javascript">
	var slideIndex = 1;
	window.onload = myonload;
	function myonload() {
		showDivs(slideIndex);
	}

	function plusDivs(n) {
	    showDivs(slideIndex += n);
	}

	function showDivs(n) {
	    var i;
	    var x = document.getElementsByClassName("mySlides");
	    if (n > x.length) {slideIndex = x.length} 
	    if (n < 1) {slideIndex = 1} ;
	    for (i = 0; i < x.length; i++) {
	        x[i].style.display = "none"; 
	    }
	    x[slideIndex-1].style.display = "block"; 
	}
</script>

{% endblock %}
{% block body %}
<div class="w3-content w3-display-container">
	<div align="center" dir="rtl" class="post mySlides">
		<h3 class="subject">Hello World</h3>
		<hr/>
		<p>בדיקה בדיקה</p>
	</div>
	<div align="center" dir="rtl" class="post mySlides">
		<h3 class="subject">פוסט ראשון!</h3>
		<hr/>
		<p>אהלן חברה!
	החלטתי להתחיל לכתוב בלוג ולשפוך על המסך את מה שעובר עלי ביום יום, ככה לעניין אתכם
	בחיים שלי ובתחושות שאני חווה.

	מצפה לראות אתכם פעילים מחכה לתגובות מכם מה דעתכם על הקונספט. 
		</p>
	</div>
	<div align="center" dir="rtl" class="post mySlides">
		<h3 class="subject">נו מה אבל</h3>
		<hr/>
		<p>טוב אף אחד לא מגיב לי אני לא מבין מה הקטע שלכם.
			בן אדם בא לתת מעצמו לשתף וזה... לא צריך יאללה מה קרה!
			
			ביי
		</p>
	</div>
	<button class="w3-button w3-display-right" onclick="plusDivs(-1)">&#10095;</button>
	<button class="w3-button w3-display-left" onclick="plusDivs(+1)">&#10094;</button>
</div>
{% endblock %}