{% extends "base.html" %}
{% block header %}
<script src="/static/js/md5.min.js"></script>
{% endblock %}
{% block body %}
<div align="center" dir="rtl" class="inner-container">
	{% if failed %}
	<h5 style="color: red;">Bad Credentials</h5>
	<br/>
	{% endif %}
	<form action="/auth" dir="ltr">
	  <div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="text" id="username" name="username">
	  </div>
	  <br/>
	  <div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" type="password" id="password" name="password">
	  </div>
	  <br/>
	</form>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="connect()">
	  Login
	</button>
</div>
{% endblock %}