{% extends "base.html" %}
{% block header %}
<script src="/static/js/admin.js"></script>
{% endblock %}
{% block body %}
	<div align="center" dir="rtl" class="challenge-info">
		<form action="#">
		  <div class="mdl-textfield mdl-js-textfield challenge-level">
		    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="challenge_level">
		    <label class="mdl-textfield__label" for="challenge_level">רמה</label>
		    <span class="mdl-textfield__error">Input is not a number!</span>
		  </div>
		  •
		  <div class="mdl-textfield mdl-js-textfield challenge-name">
		    <input class="mdl-textfield__input" type="text" id="challenge_name">
		    <label class="mdl-textfield__label" for="challenge_name">שם האתגר</label>
		  </div>
		</form>
		<hr/>
		<form action="#">
		  <div class="mdl-textfield mdl-js-textfield challenge-description">
		    <textarea class="mdl-textfield__input" type="text" rows= "5" id="challenge_description" ></textarea>
		    <label class="mdl-textfield__label" for="challenge_description">תיאור האתגר</label>
		  </div>
		</form>
		<hr/>
		<form action="#" dir="ltr">
		  <div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="text" id="challenge_link" ></input>
		    <label class="mdl-textfield__label" for="challenge_link">Link</label>
		  </div>
		</form>
		<hr/>
		<div id="tags-div" dir="ltr">
			<span class="mdl-chip mdl-chip--contact">
			    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">#</span>
			    <span class="mdl-chip__text">
			    	<input class="mdl-textfield__input" type="text" id="tag" onkeyup="autocomplete_tag()">
			    </span>
			</span>
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onclick="add_tag()">
			  <i class="material-icons">add</i>
			</button>
			<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" id="tags_dropdown">
			</ul>
			<br/>
		</div>
		<hr/>
		<form action="#" dir="ltr">
	      <label class="solution-padding">RZM{</label>
		  <div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="text" id="challenge_solution">
		    <label class="mdl-textfield__label" for="challenge_solution">Solution</label>
		  </div>
	      <label class="solution-padding">}</label>
		</form>
	</div>
	<div align="center" id="add-challenge-div">
		<button onclick="add_challenge()" class="mdl-button mdl-js-button mdl-button--accent">
		  הוסף
		</button>
	</div>
{% endblock %}
