{% extends "base.html" %}
{% block header %}
<script src="/static/js/admin.js"></script>
{% endblock %}
{% block body %}
	<div align="center" dir="rtl" class="doc-info">
		<form action="#">
			<div class="mdl-textfield mdl-js-textfield doc-name">
			  <input class="mdl-textfield__input" type="text" id="doc_category">
			  <label class="mdl-textfield__label" for="doc_category">קטגוריה</label>
			</div>
			•
		  <div class="mdl-textfield mdl-js-textfield doc-name">
		    <input class="mdl-textfield__input" type="text" id="doc_name">
		    <label class="mdl-textfield__label" for="doc_name">שם</label>
		  </div>
		</form>
		<hr/>
		<form action="#" dir="ltr">
		  <div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="text" id="doc_link"></input>
		    <label class="mdl-textfield__label" for="doc_link">Link</label>
		  </div>
		</form>
		<hr/>
		<div id="tags-div" dir="ltr">
			<span class="mdl-chip mdl-chip--contact">
			    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">#</span>
			    <span class="mdl-chip__text">
			    	<input class="mdl-textfield__input" type="text" id="tag" onkeyup="autocomplete_tag()">
			    </span>
			</span>
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onclick="add_tag()">
			  <i class="material-icons">add</i>
			</button>
			<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" id="tags_dropdown">
			</ul>
			<br/>
		</div>
	</div>
	<div align="center" id="add-doc-div">
		<button onclick="add_doc()" class="mdl-button mdl-js-button mdl-button--accent">
		  הוסף
		</button>
	</div>
{% endblock %}
