{% extends "base.html" %}
{% block body %}
	<div align="center" dir="rtl">
		{% if failed %}
		<span style="font-weight: bold; color: red;">Login failed</span>
		{% endif %}
		<form action="/login" dir="ltr" method="POST">
		  <div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="text" id="username" name="username">
		    <label class="mdl-textfield__label" for="username">username</label>
		  </div>
		  <br/>
		  <div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="password" id="password" name="password">
		    <label class="mdl-textfield__label" for="password">password</label>
		  </div>
		  <br/>
		  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
		    Login
		  </button>
		</form>
	</div>
{% endblock %}
