<!doctype html>
<html>
  <head>
    <title>RZM WEB Challenges</title>
    <!-- Javascripts -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/material.min.js"></script>
    <script src="/static/js/app.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/material.brown-light_green.min.css" />
    <link rel="icon" type="image/png" sizes="100x100" href="/static/imgs/icon.png">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/google.fonts.css">
    <link rel="stylesheet" href="/static/css/rzm.css" />
    <meta id="myViewport" name="viewport" content="width=1600">
    <script>
      window.onload = function () {
        var mvp = document.getElementById('myViewport');
        mvp.setAttribute('content','width=1600');
      }
    </script> 
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div id="error-toast" class="mdl-js-snackbar mdl-snackbar" dir="rtl">
      <div class="mdl-snackbar__text"></div>
      <button style="display: none" class="mdl-snackbar__action" type="button"></button>
    </div>
    <div id="notification-toast" class="mdl-js-snackbar mdl-snackbar" dir="rtl">
      <div class="mdl-snackbar__text"></div>
      <button style="display: none" class="mdl-snackbar__action" type="button"></button>
    </div>
    <div id="container">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header portfolio-header">
                    <div class="mdl-layout__header-row portfolio-logo-row">
                    <span class="mdl-layout__title" style="margin-right: 10px;">{{ user.name }}</span>
                        <span class="mdl-layout__title">
                            <a href="/"><img class="portfolio-logo" src="/static/imgs/rzm.png"></a>
                        </span>
                    </div>
                    <div class="mdl-layout__header-row portfolio-navigation-row">
                        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                          {% block tabs %}
                          <a class="mdl-navigation__link" href="/challenges">Challenges</a>
                          <a class="mdl-navigation__link" href="/docs">Docs</a>
                          {% endblock %}
                          {% if user.is_superuser %}
                          <a class="mdl-navigation__link" href="/add_challenge">Add Challenge</a>
                          <a class="mdl-navigation__link" href="/add_doc">Add Document</a>
                          <a class="mdl-navigation__link" href="/board">Board</a>
                          {% endif %}
                          <script>
                            $('a[href="' + window.location.pathname + '"]').toggleClass('is-active')
                          </script>
                        </nav>
                    </div>
        </header>
        <main class="mdl-layout__content">
          <div class="inner-container" style="overflow: auto;">
            {% block body %}
            {% endblock %}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>