{% extends "base.html" %}
{% block header %}
{% if user.is_superuser %}
<script src="/static/js/admin.js"></script>
{% endif %}
{% endblock %}
{% block body %}
	{% for level, level_challenges in levels.items %}
	<div style="overflow: auto;">
	<table>
		<tr>
			<td class="level-cell">
			<h3 class="stage">Stage {{ level }}</h3>
			</td>
			<td></td>
			{% for c in level_challenges %}
			<td>
				{% if c.id in user.solved %}
				<div class="demo-card-square mdl-card mdl-shadow--2dp solved">
				{% else %}
				<div class="demo-card-square mdl-card mdl-shadow--2dp">
				{% endif %}
					<div class="mdl-card__title mdl-card--expand">
					  <h2 class="mdl-card__title-text">{{ c.challenge_name }}</h2>
					</div>
				  	<div class="mdl-card__supporting-text" dir="rtl">
				  		{% if c.challenge_description|safe|length < 50 %}
					    	{{ c.challenge_description }}
					    {% else %}
					    	{{ c.challenge_description|safe|slice:"50" }}...
					    {% endif %}
				  	</div>
				  	<div class="mdl-card__actions mdl-card--border" dir="rtl">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/challenge_info?id={{ c.id }}">
				      	לאתגר
				    	</a>
				  	</div>
				  	<div class="mdl-card__menu">
				  	{% if user.is_superuser %}
				  	    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" onclick="remove_challenge({{ c.id }})">
	  	    		      <i class="material-icons" style="color: red;">clear</i>
			  	    	</button>
				  	{% else %}
			  	    	<i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
				    {% endif %}
				  	</div>
				</div>
			</td>
			{% endfor %}
		</tr>
	</table>
	<hr/>
	</div>
	{% endfor %}
{% endblock %}
