{% extends "base.html" %}
{% block body %}
	<div align="center" dir="rtl" class="challenge-info">
		<h1 style="font-style: italic; font-weight: bold;">”{{ challenge.challenge_name }}“</h1>
		<hr/>
		<div align="right" id="description">
			{{ challenge.challenge_description|safe }}
		</div>
		{% if challenge.challenge_link|length > 0 %}
		<div style="padding: 10px;" align="center">
			<a class="challenge-link" href="#" onclick="window.open(location.protocol + '//' + location.host + '{{ challenge.challenge_link }}')">התחל</a>
		</div>
		{% endif %}
		<div id="tags">
			<span style="margin-right: 10px;" class="mdl-chip mdl-chip--contact" dir="ltr">
			    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ challenge.challenge_level }}</span>
			    <span class="mdl-chip__text">רמה</span>
			</span>
			&nbsp<span style="font-weight: bold;">.</span>&nbsp
			{% for tag in challenge.tags %}
				<!-- Contact Chip -->
				<span class="mdl-chip mdl-chip--contact censored" dir="ltr" onclick="censor(this)">
				    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">#</span>
				    <span class="mdl-chip__text" value="{{ tag }}">רמז</span>
				</span>
			{% endfor %}
		</div>
	</div>
	<div id="solution" align="center">
		{% if user.is_superuser or challenge.id in user.solved %}
		<div style="padding: 10px;">
			<span class="mdl-chip mdl-chip--contact red">
			    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="material-icons">flag</i></span>
			    <span class="mdl-chip__text">{{ challenge.challenge_solution }}</span>
			</span>
		</div>
		{% else %}
		<form action="#">
		  <div class="mdl-textfield mdl-js-textfield">
		  	<input style="display: none;" type="number" id="challenge_id" value="{{ challenge.id }}">
		    <input class="mdl-textfield__input" type="text" id="flag">
		    <label class="mdl-textfield__label" for="flag">FLAG</label>
		  </div>
		  <span style="position: relative;" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="send_flag()">
		    <i class="material-icons">arrow_forward</i>
		  </span>
		</form>
		{% endif %}
	</div>
{% endblock %}
