{% extends "base.html" %}
{% block body %}
  <div class="cookie-container" style="overflow: auto;">
    <form action="#" align="center">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="user_name">
        <label class="mdl-textfield__label" for="user_name" align="right">Whats your name?</label>
      </div>
      <span class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="create_cookie()">
        <i class="material-icons">arrow_forward</i>
      </span>
    </form>
  </div>
{% endblock %}