{% extends "base.html" %}
{% block header %}
<script type="text/javascript">
	function remove_tag(value) {
		$('.tag[value="' + value + '"]').parent().remove()
		filter_docs();
	}
	function add_tag() {
		if ($('.tag[value="' + tag.value + '"]').length == 0 && tag.value.length > 0) {
			tag_element = `<span class="mdl-chip mdl-chip--contact" dir="ltr" style="margin: 3px;">
							    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">#</span>
							    <span class="mdl-chip__text tag" value="` + tag.value + `">` + tag.value + `</span>
							    <button type="button" class="mdl-chip__action" onclick="remove_tag('` + tag.value + `')"><i class="material-icons">cancel</i></button>
							</span>`
			$('#tags-div').append(tag_element)
			tag.value = "";
		}
		$('.mdl-menu__container.is-upgraded').removeClass('is-visible')
		filter_docs();
	}
	window.onload = filter_docs;
</script>
{% endblock %}
{% block body %}
	<div align="center" id="tags-div" dir="ltr">
		<span class="mdl-chip mdl-chip--contact">
		    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">#</span>
		    <span class="mdl-chip__text">
		    	<input class="mdl-textfield__input" type="text" id="tag" onkeyup="autocomplete_tag()">
		    </span>
		</span>
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" onclick="add_tag()">
		  <i class="material-icons">add</i>
		</button>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" id="tags_dropdown">
		</ul>
		<br/>
	</div>
	<div id="docs-div">
	</div>
{% endblock %}
