{% extends "base.html" %}
{% block header %}
<style class="cp-pen-styles">.table-header-rotated {
  border-collapse: collapse;
}
.csstransforms .table-header-rotated td {
  width: 30px;
  height: 30px;
}
.no-csstransforms .table-header-rotated th {
  padding: 5px 10px;
}
.table-header-rotated td {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ccc;
}
.csstransforms .table-header-rotated th.rotate {
  height: 140px;
  white-space: nowrap;
}
.csstransforms .table-header-rotated th.rotate > div {
  -webkit-transform: translate(25px, 51px) rotate(315deg);
          transform: translate(25px, 51px) rotate(315deg);
  width: 30px;
}
.csstransforms .table-header-rotated th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.table-header-rotated th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
</style>
<script src="/static/js/modernizr-2.7.1.js"></script>
{% endblock %}
{% block body %}
	<div align="center" class="trackboard">
{% if users %}
    <table class="table table-header-rotated">
  <thead>
    <tr>
      <!-- First column header is not rotated -->
      <th></th>
      <!-- Following headers are rotated -->
      {% for challenge in challenges %}
      	<th class="rotate"><div><span>{{ challenge.challenge_name }}</span></div></th>
      {% endfor %}
    </tr> 
  </thead>
  <tbody>
  	{% for user in users %}
    <tr>
      <th class="row-header">{{ user.name }}</th>
      {% for challenge in challenges %}
      {% if challenge.id in user.solved %}
      	<td><i class="material-icons">flag</i></td>
      {% else %}
      	<td></td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
 No users registerd yet.
{% endif %}   
</div>
{% endblock %}
